<div class="footer__inner yelow-block">
    <div class="footer__bg-left"></div>
    <div class="footer__bg-right"></div>
    <div class="yelow-block__inner footer__inner-wrap ">
        <div class="footer__inner-chart">Все права защищены. <br/> «Максиколд» © 2013</div>
        <div class="footer__inner-chart"><img src="../build/images/otklogo.png" alt=""/></div>
        <div class="footer__inner-chart">
            <a href="faq.html">Вопрос - ответ</a><br/>
            <a href="">Карта сайта</a>
        </div>
        <div class="footer__inner-chart"><a href="">Сообщить <br/>
            о нежелательном явлении</a></div>
        <div class="footer__inner-chart">
            Телефон/Факс: (495) 221-18-00/02<br/>
            E-mail: <a href="mailto: info@otcpharm.ru">info@otcpharm.ru</a>
        </div>
    </div>
</div>