<div class="head-logo header__logo">
    <img src="../build/images/head-logo.png" class="logo" alt=""/>
</div>
<div class="header__buter yelow-block"><div class="yelow-block__inner header__buter-inner">Меню</div></div>
<ul class="header__nav">
    <li class="header__nav-item yelow-block"><a href="" class="header__nav-link yelow-block__inner">От
        простуды и гриппа</a></li>
    <li class="header__nav-item yelow-block"><a href="" class="header__nav-link yelow-block__inner">Облегчение
        течения простуды</a></li>
    <li class="header__nav-item yelow-block"><a href="" class="header__nav-link yelow-block__inner">От боли
        в горле</a></li>
    <li class="header__nav-item yelow-block"><a href="" class="header__nav-link yelow-block__inner">От жара
        и боли у детей</a></li>
</ul>